title: bakje

collections:
  pages:
    output: true
  projects:
    output: true

defaults:
  - scope:
      type: "pages"
    values:
      layout: "default"
  - scope:
      type: "projects"
    values:
      layout: "default"
