title: bakje

collections:
  posts:
    output: true
  projects:
    output: true

defaults:
  - scope:
      type: "posts"
    values:
      layout: "default"
  - scope:
      type: "projects"
    values:
      layout: "default"
