/* Code block background */
.highlight {
  background-color: #181818;
  padding: 8px;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 14px
}

.highlight pre {
  margin: 0;
  background: none;
}

/* Basic syntax colors */
.highlight .k   { color: #ffdd33; } /* keywords: if, while, return, class */
.highlight .kt  { color: #ffdd33; } /* types: void, int, string */
.highlight .kd  { color: #ffdd33; } /* declarations: var, let, const */
.highlight .kc  { color: #ffdd33; } /* constants */
.highlight .nf  { color: #96a6c8; } /* function names */
.highlight .nc  { color: #95a99f; } /* class names */
.highlight .n   { color: #e4e4ef; } /* variables */
.highlight .s   { color: #73d936; } /* strings */
.highlight .s1  { color: #73d936; } /* single-quote strings */
.highlight .s2  { color: #73d936; } /* double-quote strings */
.highlight .m   { color: #032f62; } /* numbers */
.highlight .mi  { color: #032f62; } /* integers */
.highlight .mf  { color: #032f62; } /* floats */
.highlight .o   { color: #96a6c8; } /* operators: +, -, =, * */
.highlight .p   { color: #e4e4ef; } /* punctuation: ( ) { } , ; */
.highlight .c   { color: #cd8c3d; font-style: italic; } /* comments */
.highlight .c1  { color: #cd8c3d; font-style: italic; } /* single-line comments */
.highlight .cm  { color: #cd8c3d; font-style: italic; } /* multi-line comments */
.highlight .cp  { color: #95a99f; } /* preprocessor: #include, #define */



