<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/syntax.css">
</head>
<body>
  <div class="stuff-right">
    <a href="https://github.com/bakjedev" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/quinten-bubberman/" target="_blank">LinkedIn</a>
  </div>
  <div class="stuff-left">
    <a href="mailto:contact@bakje.dev" target="_blank">E-mail</a>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
  </nav>

  {% if page.title %}
    # {{ page.title }}
  {% endif %}

  {% if page.date %}
    {{ page.date }}
  {% endif %}
    
  {{ content }}
</body>
</html>
