<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/syntax.css">
</head>
<body>
  <header class="top-bar">
    <div class="stuff-left">
      <a href="mailto:contact@bakje.dev" target="_blank">E-mail</a>
    </div>
    
    <nav>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/pages">Posts</a>
    </nav>

    <div class="stuff-right">
      <a href="https://github.com/bakjedev" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/quinten-bubberman/" target="_blank">LinkedIn</a>
    </div>
  </header>
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}

  {% if page.datePosted %}
    <p>{{ page.datePosted }}</p>
  {% endif %}
    
  {{ content }}
</body>
</html>
